@charset "UTF-8";

/* NAV BANNER*/
.page_header
{
    display: flex;
    background-color: #e3f2fd;
}
.logo_title
{
    margin-right: 10vh;
}
.logo
{
    width: 100px;
    margin-top: 14px;
    margin-left: 40px;
    margin-right: 20px;
    text-decoration: none;
}
#navbarSupportedContent .nav-item a
{
    width: 150px;
    height: 50px;
    float: left;
    text-align: center;
    color:rgba(0, 132, 255, 0.582);
}
#navbarSupportedContent .nav-item:hover a
{
    color: rgb(255, 255, 255);
    background:rgb(64, 88, 224);
    text-decoration: none;
}
